.panel.panel-default
	.panel-heading
		.btn-group.pull-right
			= link_to 'Listing categories', categories_path, class: 'btn btn-primary'
			= link_to 'Show category', category, class: 'btn btn-primary'
		%h4="Editing category: #{category.name}"
	.panel-body
		= render 'form'


