- if notice.present?
	.alert.alert-success= notice

.panel.panel-default
	.panel-heading
		%h4 Listing categories
	.panel-body
		=render 'categories'
		%br
		%br
		- if user_is_admin?
			= button_to(new_category_path, method: :get, :class=>"btn btn-primary") do
				%span="New category"