.panel.panel-default
	.panel-heading
		.btn-group.pull-right
			= link_to 'Show product', category_product_path(category, product), class: 'btn btn-primary'
			= link_to 'Listing products', category_products_path, class: 'btn btn-primary'
		%h4 Editing product
	.panel-body
		= render 'form'