.panel.panel-default
	.panel-heading
		.btn-group.pull-right
			= link_to 'Listing products', category_products_path, class: 'btn btn-primary'			
			= link_to 'Show category', category_path(category), class: 'btn btn-primary'			
		%h4="New Product in category #{category.name}"
	.panel-body
		= render 'form'